<launch>
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
	<arg name="marker_size" default="15" />
	
	<arg name="use_saved_data" default="True" />
	<arg name="tf_config" default="$(find haptic_control)/config/tf"/>
	
	<group ns="camera_01">	
		<arg name="cam_image_topic" default="/camera_01/rgb/image_raw" />
		<arg name="cam_info_topic" default="/camera_01/rgb/camera_info" />
		<arg name="output_frame" default="/camera_01_link" />

		<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
			<param name="marker_size"           type="double" value="$(arg marker_size)" />
			<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
			<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
			<param name="output_frame"          type="string" value="$(arg output_frame)" />

			<remap from="camera_image"  to="$(arg cam_image_topic)" />
			<remap from="camera_info"   to="$(arg cam_info_topic)" />
		</node>
	</group>

	<group ns="camera_02">	
		<arg name="cam_image_topic" default="/camera_02/rgb/image_raw" />
		<arg name="cam_info_topic" default="/camera_02/rgb/camera_info" />
		<arg name="output_frame" default="/camera_02_link" />

		<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
			<param name="marker_size"           type="double" value="$(arg marker_size)" />
			<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
			<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
			<param name="output_frame"          type="string" value="$(arg output_frame)" />

			<remap from="camera_image"  to="$(arg cam_image_topic)" />
			<remap from="camera_info"   to="$(arg cam_info_topic)" />
		</node>
	</group>

	<!--<node name="tf_calibration" pkg="haptic_control" type="tf_calibration"  output="screen">
		<param name="use_saved_data" type="bool" value="$(arg use_saved_data)" />
		<param name="tf_config" type="string" value="$(arg tf_config)" />
	</node> -->
</launch>
