<launch>
	<arg name="node_namespace" default="apriltag_ros_continuous_node" />
	<arg name="use_saved_data" default="False" />
	<arg name="tf_config" default="$(find haptic_control)/config/tf"/>

	<group ns="camera_01">	
		<arg name="cam_image_topic" default="/camera_01/rect/image_rectified" />
		<arg name="cam_info_topic" default="/camera_01/rect/camera_info_rectified" />
		<arg name="output_frame" default="/camera_01_link" />
		  <rosparam command="load" file="$(find haptic_control)/config/april_tag/settings.yaml" ns="$(arg node_namespace)" />
		  <rosparam command="load" file="$(find haptic_control)/config/april_tag/tags.yaml" ns="$(arg node_namespace)" />

		<node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="$(arg node_namespace)" clear_params="true" output="screen" launch-prefix="" >
			<!-- Remap topics from those used in code to those on the ROS network -->
			<remap from="image_rect" to="$(arg cam_image_topic)" />
			<remap from="camera_info" to="$(arg cam_info_topic)" />

			<param name="camera_frame" type="str" value="$(arg output_frame)" />
			<param name="publish_tag_detections_image" type="bool" value="true" />      <!-- default: false -->
		</node>
	</group>
	<group ns="camera_02">	
		<arg name="cam_image_topic" default="/camera_02/rect/image_rectified" />
		<arg name="cam_info_topic" default="/camera_02/rect/camera_info_rectified" />
		<arg name="output_frame" default="/camera_02_link" />
		  <rosparam command="load" file="$(find haptic_control)/config/april_tag/settings.yaml" ns="$(arg node_namespace)" />
		  <rosparam command="load" file="$(find haptic_control)/config/april_tag/tags.yaml" ns="$(arg node_namespace)" />

		<node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="$(arg node_namespace)" clear_params="true" output="screen" launch-prefix="" >
			<!-- Remap topics from those used in code to those on the ROS network -->
			<remap from="image_rect" to="$(arg cam_image_topic)" />
			<remap from="camera_info" to="$(arg cam_info_topic)" />

			<param name="camera_frame" type="str" value="$(arg output_frame)" />
			<param name="publish_tag_detections_image" type="bool" value="true" />      <!-- default: false -->
		</node>
	</group>

	<node name="flipper" pkg="haptic_control" type="flipper"/>

	<node name="tf_calibration" pkg="haptic_control" type="tf_calibration"  output="screen">
		<param name="use_saved_data" type="bool" value="$(arg use_saved_data)" />
		<param name="tf_config" type="string" value="$(arg tf_config)" />
	</node> 
</launch>
